@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

html {
    scroll-behavior: smooth;
}

* {
    font-synthesis: none;
    scroll-padding-top: 100px;
    scrollbar-width: none;
}

:root {
    --grid-line: #ffffff;
    --beam-color: #3b82f6;
    --glow-color: rgba(59, 130, 246, 0.4);
}

.dark {
    --grid-line: #121212;
    --beam-color: #38bdf8;
    --glow-color: rgba(56, 189, 248, 0.3);
}

::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
    appearance: none;
    -moz-appearance: textfield;
}

::-moz-selection {
    background-color: #00d39190;
    color: #000000;
}

::selection {
    background-color: #00d39190;
    color: #000000;
}

@layer base {
    .text-gradient {
        background: linear-gradient(135deg, #06b6d4, #ec4899);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

@theme {
    --color-border: var(--border);
    --color-background: var(--background);
}

:root {
    --border: lab(15.204% 0 0);
    --background: lab(100% 0 0 / 0.6);
}

.dark {
    --border: lab(27.036% 0 0);
    --background: lab(7.74% 0 0 / 0.7);
}
