@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import './tokens/colors.css';

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
    .contain-content {
        content-visibility: auto;
        contain-intrinsic-size: 0 500px;
    }
}

section:has(> div > section[data-editor]) {
    grid-template-columns: 1fr !important;
    max-width: none !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

section:has(> div > section[data-editor]) > :first-child {
    display: none !important;
}

@layer base {
    @import './browser.css';

    html,
    body {
        margin: 0;
        padding: 0;
        min-height: 100%;
        scroll-behavior: smooth;
    }

    html {
        scroll-padding-top: 100px;
    }

    body {
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
}